@font-face {
    font-family: 'eczar';
    src: url('fonts/Eczar/Eczar-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'quicksand';
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

:root {
    --background: #679AAC;
    --primary: #F8F7E5;
    --secondary: #1D1D1D;
    --highlight-1: #FF834F;
    --highlight-2: #F9AF42;

    --header-horizontal-padding: 72px;
    --header-vertical-padding: 24px;
    --navbar-height: 130px;
}

html, body {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.hero, .about-me, .skills, .portfolio, .references, .contact-footer {
    height: 100vh;
    width: 100%;
}

.hero, .references {
    background-color: var(--background);
}

.about-me, .portfolio {
    background-color: var(--primary);
}

.skills, .contact-footer {
    background-color: var(--secondary);
}

.hero-container, 
.about-me-container, 
.skills-container, 
.portfolio-container, 
.references-container, 
.contact-footer-container {
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--header-vertical-padding) var(--header-horizontal-padding);
    position: relative;
}

.header-socials {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 112px;
    position: absolute;
    left: var(--header-horizontal-padding);
    z-index: 2;
}

.github-header-icon,
.linkedin-header-icon,
.mail-header-icon,
.open-menu-button {
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.github-header-icon {
    background-image: url('img/icons/github-icon.svg');
    
    &&:hover {
        background-image: url('img/icons/github-icon-hover.svg');
    }
}

.linkedin-header-icon {
    background-image: url('img/icons/linkedin-icon.svg');

    &&:hover {
        background-image: url('img/icons/linkedin-icon-hover.svg');
    }
}

.mail-header-icon {
    background-image: url('img/icons/mail-icon.svg');

    &&:hover {
        background-image: url('img/icons/mail-icon-hover.svg');
    }
}

header {
    position: fixed;
    top: var(--header-vertical-padding);
    left: var(--header-horizontal-padding);
    width: calc(100% - (2 * var(--header-horizontal-padding)));
    display: flex;
    justify-content: end;
    z-index: 1;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s ease;

    img {
        height: 40px;
    }

    span {
        font-family: 'quicksand';
        font-weight: 700;
        font-size: 24px;
        color: white;
        transition: all 0.6s;
    }

    &&:hover {
        span {
            color: var(--highlight-1);
        }
    }
    
    &&:disabled {
        cursor: default;
        &&:hover {
            span {
                color: var(--primary);
            }
        }
    }
}

.dark-logo {
    span {
        color: var(--secondary);
    }
}

.scrolled {
    left: 0;
    transform: translateX(0);
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 16px;

    .lang-change-button {
        height: 40px;
        width: 40px;
        border: solid 1px var(--primary);
        border-radius: 100px;
        font-family: 'quicksand';
        font-weight: 600;
        font-size: 18px;
        color: var(--primary);

        &&:hover {
            background-color: var(--highlight-1);
        }
    }

    .open-menu-button {
        background-image: url('img/icons/open-menu-icon.svg');
        
        &&:hover {
            background-image: url('img/icons/open-menu-icon-hover.svg');
        }
    }

}

nav {
    position: fixed;
    right: var(--header-horizontal-padding);
    top: 50%;
    margin-top: calc(var(--navbar-height) / 2 * -1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12px;
    height: var(--navbar-height);
}

.navbar-bullet {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0.4s;

    &&:hover {
        background-color: var(--highlight-2);
    }
}

.dark-bullet {
    background-color: var(--secondary);
}

.current-selected-bullet {
    rotate: 135deg;
    border-radius: 0;
    background-color: var(--highlight-1) !important;
    transition: all 0.4s;
}